In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/daianeklein/Documents/DS/clusters-analysis-dash/data-analysis-webapp/cluster-app/03-data/data.csv', sep = ';')

df.head()

,user_id,subscription_date,phone_operator,os_name,os_version,affiliate,unsubscription_date,aggregator,transaction_timestamp,service,status,pricepoint
0,4b0625b0e19a11ec8a541fcc86ad2588,2022-06-01 11:03:06.000000,C,NaN,NaN,aff_4,2022-06-01 12:23:34.000000,ABC,2022-06-01 11:03:06.000,ps,Failed,3.6
1,4058b340e19e11ec95703f2faa3b39a3,2022-06-01 11:32:06.000000,B,Android,8.0,aff_4,NaN,ABC,2022-06-01 11:32:06.000,gc,Failed,3.6
2,4058b340e19e11ec95703f2faa3b39a3,2022-06-01 11:32:06.000000,B,Android,8.0,aff_4,NaN,ABC,2022-06-08 05:16:32.000,gc,Failed,3.6
3,4058b340e19e11ec95703f2faa3b39a3,2022-06-01 11:32:06.000000,B,Android,8.0,aff_4,NaN,ABC,2022-07-27 05:31:32.000,gc,Failed,3.6
4,4058b340e19e11ec95703f2faa3b39a3,2022-06-01 11:32:06.000000,B,Android,8.0,aff_4,NaN,ABC,2022-06-15 05:16:32.000,gc,Delivered,3.6

In [3]:
def create_days_of_week(dataframe, column):
    '''
    This function creates the day of the week based on a datatetime column and 
    transforms from numbers to name of the day
    '''
    dataframe[column] = dataframe[column].astype('datetime64')
    dataframe['day_of_week'] = dataframe[column].dt.dayofweek

    days_of_week = {
        0 : 'monday',
        1 : 'tuesday',
        2 : 'wednesday',
        3 : 'thursday',
        4 : 'friday',
        5 : 'saturday',
        6 : 'sunday'
    }

    dataframe['day_of_week'] = dataframe['day_of_week'].map(days_of_week)
    return dataframe

In [4]:
create_days_of_week(df, 'transaction_timestamp')

,user_id,subscription_date,phone_operator,os_name,os_version,affiliate,unsubscription_date,aggregator,transaction_timestamp,service,status,pricepoint,day_of_week
0,4b0625b0e19a11ec8a541fcc86ad2588,2022-06-01 11:03:06.000000,C,NaN,NaN,aff_4,2022-06-01 12:23:34.000000,ABC,2022-06-01 11:03:06,ps,Failed,3.6,wednesday
1,4058b340e19e11ec95703f2faa3b39a3,2022-06-01 11:32:06.000000,B,Android,8.0,aff_4,NaN,ABC,2022-06-01 11:32:06,gc,Failed,3.6,wednesday
2,4058b340e19e11ec95703f2faa3b39a3,2022-06-01 11:32:06.000000,B,Android,8.0,aff_4,NaN,ABC,2022-06-08 05:16:32,gc,Failed,3.6,wednesday
3,4058b340e19e11ec95703f2faa3b39a3,2022-06-01 11:32:06.000000,B,Android,8.0,aff_4,NaN,ABC,2022-07-27 05:31:32,gc,Failed,3.6,wednesday
4,4058b340e19e11ec95703f2faa3b39a3,2022-06-01 11:32:06.000000,B,Android,8.0,aff_4,NaN,ABC,2022-06-15 05:16:32,gc,Delivered,3.6,wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62872,e82948a0f01211ec989b6b01af70e4c0,2022-06-19 21:02:30.000000,C,Android,9.0,aff_4,2022-07-24 07:09:18.000000,ABC,2022-06-26 05:17:32,ps,Delivered,3.6,sunday
62873,e82948a0f01211ec989b6b01af70e4c0,2022-06-19 21:02:30.000000,C,Android,9.0,aff_4,2022-07-24 07:09:18.000000,ABC,2022-07-03 05:17:32,ps,Delivered,3.6,sunday
62874,e82948a0f01211ec989b6b01af70e4c0,2022-06-19 21:02:30.000000,C,Android,9.0,aff_4,2022-07-24 07:09:18.000000,ABC,2022-07-10 05:32:32,ps,Delivered,3.6,sunday
62875,e82948a0f01211ec989b6b01af70e4c0,2022-06-19 21:02:30.000000,C,Android,9.0,aff_4,2022-07-24 07:09:18.000000,ABC,2022-07-17 05:32:32,ps,Delivered,3.6,sunday
62876,e82948a0f01211ec989b6b01af70e4c0,2022-06-19 21:02:30.000000,C,Android,9.0,aff_4,2022-07-24 07:09:18.000000,ABC,2022-07-24 05:32:33,ps,Delivered,3.6,sunday

In [5]:
df.isnull().sum()

user_id                      0
subscription_date            0
phone_operator               0
os_name                    861
os_version                 871
affiliate                  165
unsubscription_date      50690
aggregator                   0
transaction_timestamp        0
service                      0
status                       1
pricepoint                   0
day_of_week                  0
dtype: int64